* { margin: 0px; padding: 0px; box-sizing: border-box; }
body { display: block; margin: 0px; }
html{scroll-behavior: smooth;}
.nav {border-bottom: 1px solid #fff; position: fixed; width: 100%; display:flex; justify-content: space-around; align-items: center; min-height: 8vh;  background:linear-gradient(to right, black 0%, #0339A6 53%,#0339A6 53%, #0339A6 61%, #0339A6 61%,black 100%);}
.bar-links {margin-left: 360px; display: inline-flex; justify-content: space-between; width: 50%; font-family: "Source Serif Pro", serif; }
.bar-links li { display: inline-block; list-style: none; margin: 0px 20px;margin-bottom: 20px; }
.bar-links li a { text-decoration: none; color:#fff; border-bottom: none; font-size: 15px; }
.bar-links li a:hover {border-radius: 100px; padding: 5px 15px; box-shadow: 0 5px 50px 0 #79AEF2  inset,0 5px 50px 0 #79AEF2,0 5px 50px 0 #79AEF2  inset,0 5px 50px 0 #79AEF2 ;color: #fff; transition: all 0.4s ease 0s;  }
.media { display: flex; height: 70px; }
.media a { text-decoration: none; width: 35px; height: 35px; color: #fff; display: flex; align-items: center; justify-content: center; background: none; border-radius: 50%; margin: 20px 10px; }
.media1 a:hover { color: rgb(255, 255, 255); background: rgb(0, 107, 199); transition: all 0.4s ease 0s; }
 .media1 .fa-brands {font-size: 25px;}



.projet1{background:linear-gradient(to right, black 0%, #0339A6 53%,#0339A6 53%, #0339A6 61%, #0339A6 61%,black 100%);background-size: cover;height: 100vh;background-attachment: fixed; }
.oneprojet{height: 100vh;display: flex;flex-direction: column;line-height: 40px;}
.discriptionpair{font-weight: 400; color:#fff;margin-left: 50px;font-family: 'Playfair Display', serif;    font-size: 18px;margin-right: 750px;margin-top: 20px;}
.durationpair{text-decoration: underline dotted #A08BFF ;color: beige; font-family: 'Josefin Sans', sans-serif; text-transform: capitalize; margin-left: 50px;margin-top: 20px;font-size: 20px;font-weight: 100;}
.listepair{font-weight: 200; color:#fff;margin-left: 50px;font-family: 'Josefin Sans', sans-serif;font-size: 18px;margin-right: 750px;margin-top: 20px;}
.namepair{margin-top: 150px;color: #79AEF2 ;margin-left: 50px;font-family: 'Josefin Sans', sans-serif;font-size: 25px; text-transform: uppercase;font-weight: 200;letter-spacing: 2px;border: 1px solid #79AEF2;width: 300px;}
.namepair:hover{border: none;}
.namepair span{ padding: 15px 50px; border-radius: 100px;}
.namepair span:hover{ background-color: #79AEF2; box-shadow : 0 5px 50px 0 #79AEF2  inset,0 5px 50px 0 #79AEF2 ,0 5px 50px 0 #79AEF2  inset,0 5px 50px 0 #79AEF2 ; color: #000;}
ul {margin-top: 25px;}
.ulpair{list-style:none ;margin-left: 50px;color: #A08BFF;}
.image0 {display: flex;align-items: center;justify-content: right;}
.image1 {width: 400px;height:570px;border-radius: 10%;margin-top: -27%;margin-right: 50px;border: 5px double #A08BFF;}
.image10 {display: flex;align-items: center;justify-content: right;}
.image11 {width: 400px;height:570px;border-radius: 10%;margin-top: -33%;margin-right: 50px;border: 5px double #A08BFF;}



